<div class="container">
   <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <% if @shoe.picture.attached? %>
          <%= image_tag @shoe.picture, size: 300 %>
        <% end %>
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light"><%= @shoe.name%></h1>
        <p><%= @shoe.description%></p>
        <h5><%= @shoe.price%> тг</h5>
        <a class="btn btn-primary" href="#"><%= link_to 'Изменить', edit_shoe_path(@shoe)%></a>
        <a class="btn btn-secondary" href="#"><%= link_to 'Удалить', shoe_path(@shoe), method: :delete, data: {confirm: 'Вы уверены?'} %></a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

</div>
