
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <hr>

        <!-- Date/Time -->
        <p><%= @shoe.updated_at.to_date.strftime("%d.%B.%Y") %></p>

        <hr>

        <!-- Preview Image -->
        <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

        <hr>

        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= @shoe.name%></a>
            </h4>
            <h5><%= @shoe.price%> тг</h5>
            <p class="card-text"><%= @shoe.description%></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
        <%= link_to 'Изменить', edit_shoe_path(@shoe)%>
        |<%= link_to 'Удалить', shoe_path(@shoe), method: :delete, data: {confirm: 'Вы уверены?'} %>

      </div>
